body,
html {
  font-family: Helvetica, sans-serif;
}
button {
  border-radius: 2px;
  cursor: pointer;
}
.overlay {
  opacity: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(174deg 63% 12% / 32%);

  transition: opacity 0.5s;
}
.overlay[data-hidden='false'] {
  display: block;
}
.overlay[data-hidden='true'] {
  display: none;
}
.overlay.active {
  opacity: 1;
}
.modal {
  transition: opacity;
  transition-duration: 0.5s;
  display: none;
  opacity: 0;
  outline: none;
}
.modal-content {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  background-color: hsla(0, 0%, 95%, 1);
  box-shadow: 0px 1px 4px 2px hsla(0, 0%, 0%, 0.122);
  z-index: 5;
}
.modal[data-hidden='false'] {
  display: block;
}
.modal[data-hidden='true'] {
  display: none;
}
.modal.active {
  opacity: 1;
}
.modal-label {
  font-size: 2.3rem;
  font-weight: 200;
  margin: 0.5rem 0;
  max-width: 90%;
}
.modal-body {
  padding: 1rem 0;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.btn {
  background: none;
  border: none;
  outline: 3px solid transparent;
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
}
button:focus {
  outline: 3px solid hsl(308, 96%, 51%);
}
.btn-modal {
  border: none;
  color: #fff;
  background-color: hsla(0, 0%, 0%, 0.753);
}
.modal-close.x {
  font-size: 3rem;
  font-weight: 300;
  border: none;
  padding: 0 1rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  color: hsla(14deg, 2%, 2%, 0.8);
}
.modal-close {
  background-color: hsla(14deg, 2%, 2%, 1);
  margin-right: 0.3rem;
  color: #fff;
}
.modal-agree {
  background-color: hsla(120deg, 63%, 46%, 1);
  color: #fff;
}
.modal--btn-group {
  text-align: right;
}
